@import url("https://fonts.googleapis.com/css?family=Sniglet|Work+Sans");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

details,
summary,
figure {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Blog post content */
.blog-content pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa !important;
}

.blog-content code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog-content img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .blog-content img {
    width: 75%;
  }
}

.blog-content a {
  display: inline-block;
}

.blog-content a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  transition: width 0.3s;
  transform: background 0.5s;
  color: #000000;
  position: relative;
  z-index: 2;
}

.blog-content blockquote {
  margin: 25px 0 auto;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #d8d8d8;
}

.blog-content blockquote::after {
  content: "";
}

html {
  font-size: 100%;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/klEQVQ4ja3UzSoFYRgH8J+ZYkHZkLU6FlZuwC1YWioXoOQOLKWUrazIztLuLGWjlCU7bEQ+EnUSwmLO5G0y3+dfTzNv0/zmeZ9mJpZkBR+40zJR/ziHc9xgAzNt4WX8ZOoMq5hsAnb+AdN6xxEWMVwHvS1A03rGDuYxVAYeVgDDupbMu5MHrtUE0/pCF0sYiwLwuGwLOXnEBa7QCy/EeK3Y1Yu/WcZFT+sWIG/YxwJGqra/noM9qfg+Rpl13hy38VC1qzCjkm86O6/xJlia0wy42QaDrQDrYarOzdkZwklwvof7xq31M4FvfGK6LZbmEgeDwmAXs4MEc/8gZfkFeGdvNUbbx6sAAAAASUVORK5CYII="),
    auto;
}

html * {
  box-sizing: border-box;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/klEQVQ4ja3UzSoFYRgH8J+ZYkHZkLU6FlZuwC1YWioXoOQOLKWUrazIztLuLGWjlCU7bEQ+EnUSwmLO5G0y3+dfTzNv0/zmeZ9mJpZkBR+40zJR/ziHc9xgAzNt4WX8ZOoMq5hsAnb+AdN6xxEWMVwHvS1A03rGDuYxVAYeVgDDupbMu5MHrtUE0/pCF0sYiwLwuGwLOXnEBa7QCy/EeK3Y1Yu/WcZFT+sWIG/YxwJGqra/noM9qfg+Rpl13hy38VC1qzCjkm86O6/xJlia0wy42QaDrQDrYarOzdkZwklwvof7xq31M4FvfGK6LZbmEgeDwmAXs4MEc/8gZfkFeGdvNUbbx6sAAAAASUVORK5CYII="),
    auto;
}
