@import url("https://fonts.googleapis.com/css?family=Sniglet|Work+Sans");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

details,
summary,
figure {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  display: block;
  height: 1px;
  margin: 1rem 0;
  background-color: $dove-grey;
  opacity: 0.2;
}

a {
  text-decoration: none;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Blog post content */
.post p > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post a {
  color: #000000;
}

.blog-content img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

html {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/klEQVQ4ja3UzSoFYRgH8J+ZYkHZkLU6FlZuwC1YWioXoOQOLKWUrazIztLuLGWjlCU7bEQ+EnUSwmLO5G0y3+dfTzNv0/zmeZ9mJpZkBR+40zJR/ziHc9xgAzNt4WX8ZOoMq5hsAnb+AdN6xxEWMVwHvS1A03rGDuYxVAYeVgDDupbMu5MHrtUE0/pCF0sYiwLwuGwLOXnEBa7QCy/EeK3Y1Yu/WcZFT+sWIG/YxwJGqra/noM9qfg+Rpl13hy38VC1qzCjkm86O6/xJlia0wy42QaDrQDrYarOzdkZwklwvof7xq31M4FvfGK6LZbmEgeDwmAXs4MEc/8gZfkFeGdvNUbbx6sAAAAASUVORK5CYII="),
    auto;
}

html * {
  box-sizing: border-box;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/klEQVQ4ja3UzSoFYRgH8J+ZYkHZkLU6FlZuwC1YWioXoOQOLKWUrazIztLuLGWjlCU7bEQ+EnUSwmLO5G0y3+dfTzNv0/zmeZ9mJpZkBR+40zJR/ziHc9xgAzNt4WX8ZOoMq5hsAnb+AdN6xxEWMVwHvS1A03rGDuYxVAYeVgDDupbMu5MHrtUE0/pCF0sYiwLwuGwLOXnEBa7QCy/EeK3Y1Yu/WcZFT+sWIG/YxwJGqra/noM9qfg+Rpl13hy38VC1qzCjkm86O6/xJlia0wy42QaDrQDrYarOzdkZwklwvof7xq31M4FvfGK6LZbmEgeDwmAXs4MEc/8gZfkFeGdvNUbbx6sAAAAASUVORK5CYII="),
    auto;
}
